/* ======================================
	Modal
====================================== */
/* The Modal (background) */
.share-modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.share-modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 30px;
  border: 1px solid #888;
  width: 70%; /* Could be more or less, depending on screen size */
}

.share-modal-content p {
  margin: 0;
  padding-bottom: 15px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
}

.share-modal-content hr {
  margin: 20px 0px;
}

#iframe-box {
  width: 100%;
  font-weight: 500;
  box-sizing: border-box;
}

/* ======================================
	Warning Modal
====================================== */

.warningModal,
.qrModal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.5);
}

.warningModal__container,
.qrModal__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;
  border-radius: 6px;
  padding: 3% 5.5% 5% 5.5%;
}
.warningModal__container {
  height: auto;
  width: 65%;
}
.qrModal__container {
  height: auto;
  width: 350px;
  min-width: 350px;
  padding: 3%;
}
.qrModal__qr {
  margin-top: 6%;
}

.warningModal__title,
.qrModal__title {
  line-height: 1.6;
  text-align: justify;
}
.warningModal__title {
  font-size: 4vw;
}
.qrModal__title {
  margin: 0;
}

.warningModal__btn,
.qrModal__btn {
  width: 100%;
  border-radius: 4px;
  border: 1px solid rgb(0, 0, 255);
  background: rgb(0, 0, 255);
  color: white;
  margin-top: 6%;
  padding: 14px 0;
}
.warningModal__btn {
  font-size: 3.5vw;
}
.qrModal__btn {
  margin-top: 10%;
}

/* ====================================== */

.flex-container {
  display: flex;
  justify-content: space-between;
}

.flex-container a {
  margin: 0;
  padding-bottom: 15px;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
  color: #8f8f8f;
}

.flex-container a:visited {
  color: #8f8f8f;
}

/* input[type='text'] {
	border: 1x solid #cccccc;
} */

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -10px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 768px) {
  .modal-content {
    width: 30%;
  }
}
