/* Buy Button */

#buy-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  max-width: 100px;
  width: 30%;
  background-color: #e2e2e2;
  color: rgb(0, 0, 255);
  border-radius: 4px;
  border: solid 1px rgb(0, 0, 255);
  transition: 0.3s;
  padding: 9.5px 15px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

@media (min-width: 768px) {
  #buy-btn {
    width: 20%;
    padding: 12px 15px;
  }
}

@media (min-width: 992px) {
  #buy-btn {
    width: 10%;
  }
}
