.help-container {
  margin: 0 auto;
  padding: 20px 40px;
  max-width: 800px;
}

@media screen and (min-width: 992px) {
  .help-container {
    padding-top: 100px;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  color: #343434;
  display: flex;
  flex-direction: row;
}

h1 {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
}

h2 {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5;
}

@media (min-width: 768px) {
  h1 {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 1.3rem;
  }
}
