/* ======================================
	Base Styles
====================================== */

.viewer-body {
  margin: 0; /* prevent white margin */
  overflow: hidden; /* hide scrollbars */
  overscroll-behavior: none; /* prevent refresh */
  position: fixed;
  font-family: 'Roboto', sans-serif;
  color: #343434;
  cursor: 'grab';
}

/* Hide JSON viewer controller UI */

.extras {
  display: none;
}
