/* ======================================
	Buttons
====================================== */

.btn-group-right {
  position: fixed;
  right: 20px;
  top: 20px;
}

.btn-right {
  display: block;
  cursor: pointer;
  opacity: 0.7;
  padding-bottom: 20px;
  background: none;
  border: 0;
  padding-left: 0;
}

#share-btn img {
  height: 30px;
  width: 30px;
}

#expand-btn img {
  height: 27px;
  width: 27px;
}

.social-btn {
  display: inline-block;
  padding-right: 5px;
  background: none;
  border: 0;
  padding-left: 0;
}

.social-btn img {
  height: 30px;
  width: 30px;
}

#buy-btn:hover {
  color: white;
  background-color: rgb(0, 0, 255);
}
