/* ======================================
	Header
====================================== */
h1 {
  font-size: 1.3em;
  font-weight: 500;
}

h2 {
  font-size: 0.8em;
  font-weight: 300;
}

.viewer-logo {
  position: fixed;
  left: 20px;
  bottom: 20px;
  cursor: pointer;
}

.viewer-logo img {
  opacity: 0.3;
  filter: alpha(opacity=50); /* For IE8 and earlier */
  height: 31px;
}

.product-info {
  display: none;
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.product-name,
.product-brand {
  margin-bottom: -3px;
  /* margin-left: 2px; */
  font-family: 'Noto Sans KR', 'Roboto', sans-serif;
}

@media (min-width: 768px) {
  .product-info {
    display: block;
  }
}
