.btn-group-left {
  position: fixed;
  left: 15px;
  top: 20px;
}

.color-btn {
  display: block;
  height: 30px;
  width: 30px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  outline: none;
}

.color-btn.active,
.color-btn:hover {
  box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.2);
}

.color-btn:focus {
  border: 1px solid #4d90fe;
  box-shadow: 0px 0px 5px #4d90fe, inset 0 0 100px 100px rgba(0, 0, 0, 0.2);
}

button.active::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

button.active::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  color: white;
  font-size: 0.8em;
  content: '\f00c';
}

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  src: url(https://use.fontawesome.com/releases/v5.5.0/webfonts/fa-solid-900.eot);
  src: url(https://use.fontawesome.com/releases/v5.5.0/webfonts/fa-solid-900.eot?#iefix) format('embedded-opentype'),
    url(https://use.fontawesome.com/releases/v5.5.0/webfonts/fa-solid-900.woff2) format('woff2'),
    url(https://use.fontawesome.com/releases/v5.5.0/webfonts/fa-solid-900.woff) format('woff'),
    url(https://use.fontawesome.com/releases/v5.5.0/webfonts/fa-solid-900.ttf) format('truetype'),
    url(https://use.fontawesome.com/releases/v5.5.0/webfonts/fa-solid-900.svg#fontawesome) format('svg');
}
